.cellProgress {
  width: 250px;
  padding: 0;
  margin: 0;
}
.head {
  th {
    font-weight: 800;
  }
}
.cellName {
  width: 300px;
}
.cellStatus {
  width: 400px;
}
.uploadingRow {
  background-color: var(--color-warning-100);
}
.errorRow {
  background-color: var(--color-danger-100);
  color: var(--color-light-100);
}

.successRow {
  background-color: var(--color-success-100);
}
